<% if recruitment.errors.present? %>
  <ul id="error_explanation">
    <% recruitment.errors.full_messages.each do |r| %>
      <li><%= r %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: recruitment, local: true do |f| %>
  <div class="form-group">
    <%= f.label :owner_level %>
    <%= f.text_field :owner_level, class: 'form-control', id: 'recruitment_owner_level' %>
  </div>
  <div class="form-group">
    <%= f.label :area %>
    <%= f.select :area, Recruitment.areas.keys.to_a, {}, class: "form-control", id: "recruitment_owner_area" %>
  </div>
  <div class="form-group">
    <%= f.label :game_model %>
    <%= f.select :game_model, Recruitment.game_models.keys.to_a, {}, class: "form-control", id: "recruitment_game_model" %>
  </div>
  <div class="form-group">
    <%= f.label :secret_word %>
    <%= f.text_field :secret_word, class: "form-control", id: "recruitment_secret_word" %>
  </div>
  <div class="form-group">
    <%= f.label :lap_count %>
    <%= f.text_field :lap_count, class: "form-control", id: "recruitment_lap_count" %>
  </div>
  <%= f.submit "完了", class: 'btn btn-primary' %>
<% end %>

