<% if recruitment.errors.present? %>
  <ul id="error_explanation">
    <% recruitment.errors.full_messages.each do |r| %>
      <li><%= r %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: recruitment, local: true do |f| %>
  <div class="form-group">
    <%= f.label :owner_level, t('recruitment.form.owner_level') %>
    <%= f.text_field :owner_level, class: 'form-control', id: 'recruitment_owner_level' %>
  </div>
  <div class="form-group">
    <%= f.label :area,  t('recruitment.form.area') %>
    <%= f.select :area, Recruitment.areas.map{|k, v| [Recruitment.areas_i18n[k], v]}, {}, class: "form-control" %>
    <%# <%= f.select :area, Recruitment.areas.keys.map {|k| [k, k]} %> %>
  </div>

  <div class="form-group">
    <%= f.label :game_model, t('recruitment.form.model') %>
    <%= f.select :game_model, Recruitment.game_models.map{|k, v| [Recruitment.game_models_i18n[k], v]}, {}, class: "form-control" %>
    <%# <%= f.select :game_model, Recruitment.game_models.keys.map {|k| [k, k]} %> %>
  </div>
  <div class="form-group">
    <%= f.label :secret_word, t('recruitment.form.secret_word') %>
    <%= f.text_field :secret_word, class: "form-control", id: "recruitment_secret_word" %>
  </div>
  <div class="form-group">
    <%= f.label :lap_count, t('recruitment.form.lap_count') %>
    <%= f.number_field :lap_count, min:1 ,max:7, placeholder: t('recruitment.search.placeholder'), class: "form-control" %>
  </div>
  <%= f.submit "完了", class: 'btn btn-primary' %>
<% end %>

