
<div class='mb-3 card'>
  <%= search_form_for @search do |f| %>
  <table class='table table-hover'>
    <tbody>
      <tr>
        <td class="text-align-left vertical-align-middle"><%= f.label :owner_level_gt, t('recruitment.search.owner_level') %></td>
        <td class="text-align-left vertical-align-middle">
          <%= f.number_field :owner_level_gt, min:1 ,max:999, placeholder: t('recruitment.search.placeholder') %>
          <%= f.label :owner_level_gt, t('recruitment.search.owner_level_greater_than') %>
        </td>
        <td>
          <button name="action" value="clear" type="button" class="btn btn-secondary rounded-circle p-0 clear-owner-level" style="width:2rem;height:2rem;"><%= t('recruitment.search.reset_button') %></button>
        </td>
      </tr>
      <tr>
        <td class="text-align-left vertical-align-middle">
          <%= f.label :owner_level_lt, t('recruitment.search.owner_level') %>
        </td>
        <td class="text-align-left vertical-align-middle">
          <%= f.number_field :owner_level_lt, min:1 ,max:999, placeholder: t('recruitment.search.placeholder') %>
          <%= f.label :owner_level_lt, t('recruitment.search.owner_level_less_than') %>
        </td>
        <td>
          <button name="action" value="clear" type="button" class="btn btn-secondary rounded-circle p-0 clear-owner-level-lt" style="width:2rem;height:2rem;"><%= t('recruitment.search.reset_button') %></button>
        </td>
      </tr>
      <tr>
        <td class="text-align-left vertical-align-middle">
          <%= f.label :area_eq, t('recruitment.search.area') %>
        </td>
        <td class="text-align-left vertical-align-middle">
          <%= f.select :area_eq, Recruitment.areas.map{|k, v| [Recruitment.areas_i18n[k], v]}, {:include_blank => t('recruitment.search.placeholder')}, {class: 'search_area'} %>
        </td>
        <td>
          <button name="action" value="clear" type="button" class="btn btn-secondary rounded-circle p-0 clear-area" style="width:2rem;height:2rem;"><%= t('recruitment.search.reset_button') %></button>
        </td>
      </tr>
      <tr>
        <td class="text-align-left vertical-align-middle">
              <%= f.label :game_model_eq, t('recruitment.search.model') %>
        </td>
        <td class="text-align-left vertical-align-middle">
          <%= f.select :game_model_eq, Recruitment.game_models.map{|k, v| [Recruitment.game_models_i18n[k], v]}, :include_blank => t('recruitment.search.placeholder') %>
        </td>
        <td>
          <button name="action" value="clear" type="button" class="btn btn-secondary rounded-circle p-0 clear-game-model" style="width:2rem;height:2rem;"><%= t('recruitment.search.reset_button') %></button>
        </td>
      </tr>
      <tr>
        <td class="text-align-left vertical-align-middle">
          <%= f.label :lap_count_eq, t('recruitment.search.lap_count') %>
        </td>
        <td class="text-align-left vertical-align-middle">
          <%= f.number_field :lap_count_eq, min:1 ,max:7, placeholder: t('recruitment.search.placeholder') %>
        </td>
        <td>
          <button name="action" value="clear" type="button" class="btn btn-secondary rounded-circle p-0 clear-lap-count" style="width:2rem;height:2rem;"><%= t('recruitment.search.reset_button') %></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button name="action" value="clear" type="button" class="btn btn-secondary clear-button"><%= t('recruitment.search.reset') %></button>
<%= f.submit t('recruitment.search.submit'), class: "btn btn-primary" %>
<% end %>