<h1><%= t('recruitment.index.title') %></h1>

<%= render 'create' %>

<%= render 'search_form' %>

<div class='mb-3'>
  <table class='table table-hover'>
    <thead class='thead-default'>
      <tr>
        <th><%= t('recruitment.index.owner_level') %></th>
        <th><%= t('recruitment.index.area') %></th>
        <th><%= t('recruitment.index.model') %></th>
        <th><%= t('recruitment.index.secret_word') %></th>
        <th><%= t('recruitment.index.lap_count') %></th>
        <th><%= t('recruitment.index.created') %></th>
      </tr>
    </thead>
    <tbody>
      <% @recruitments.each do |r| %>
        <tr>
          <td><%= r.owner_level %></td>
          <td><%= r.area_i18n %></td>
          <td><%= r.game_model_i18n %></td>
          <td><%= r.secret_word %></td>
          <td><%= r.lap_count %></td>
          <td><%= r.created_at.strftime("%m#{t('recruitment.index.month')}%d#{t('recruitment.index.day')} %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

