<h1>募集一覧</h1>

<%= link_to '新規募集開始', new_recruitment_path, class: 'btn btn-primary' %>

<div class='mb-3'>
  <table class='table table-hover'>
    <thead class='thead-default'>
      <tr>
        <th>募集主のLevel</th>
        <th>攻略エリア</th>
        <th>機種</th>
        <th>合言葉</th>
        <th>周回数</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @recruitments.each do |r| %>
        <tr>
          <td><%= r.owner_level %></td>
          <td><%= r.area %></td>
          <td><%= r.game_model %></td>
          <td><%= r.secret_word %></td>
          <td><%= r.lap_count %></td>
          <td><%= r.created_at.strftime("%m月%d日 %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

